.lewlewlew{
    position: relative;
    width: auto;
    background: #EDF8EF;
}
.app{
    position: relative;
    width: 1440px;
    margin: 0 auto;
    background: #EDF8EF;
}
@font-face {
    font-family: 'Centra No1';
    src: url(centrano1-and-no2-font/CentraNo1-Book.ttf);
}
#main{
    position: relative;
    width: 100%;
    height: 2387px;
    margin: auto;
}
#footer_1{
    position: relative;
    top: 320px;
    width: 100%;
    height: 258.36px;
    margin: auto;
    background-color: #292A2B;
}
#footer_2{
    position: relative;
    width: 100%;
    top: 320px;
    height: 60.64px;
    margin: auto;
    background: #0B0B0B;
}
#header{
    position: relative;
    width: 100%;
    height: 80px;
    margin: auto;
}
/* head */
.top{
    position: absolute;
    width: 1127px;
    height: 70.25px;
    left: 156px;
    top: 0px;
}
.material-symbols-outlined{
    position: absolute;
    top: -9999px;
}
.ymner{
    position: absolute;
    left: 0%;
    right: 87%;
    top: 2.85%;
    bottom: 3.21%;
}
.top li{
    position: absolute;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
}
.menu1{
    left: 63.89%;
    right: 31.23%;
    top: 27.04%;
    bottom: 33.1%;
    color: #000000; 
}
.menu2{
    left: 74%;
    right: 16.42%;
    top: 27.04%;
    bottom: 33.1%;
    color: #000000;
}
.menu3{
    left: 88.01%;
    right: 7.82%;
    top: 16.04%;
    bottom: 44.1%;
    color: #A78730;
    opacity: 0.9
}

.vector{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;  
}
.vector1{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;
}
.vector2{
    position: absolute;
    left: 42%;
    right: 6.05%;
    top: 74.59%;
    bottom: 0%;
}

.vector3{
    position: absolute;
    left: 205%;
    right: 1%;
    top: 66%;
    bottom: 25%;

}
.vector4{
    position: absolute;
    left: 46.5%;
    right: 23.63%;
    top: 48%;
    bottom: 47.27%;
}
#Rectangle{    
    width: 134px;
    height: 38px;
    box-sizing: border-box;
    left: 88.11%;
    right: 0%;
    top: 19.93%;
    bottom: 25.98%;
    padding: 5.5px 44px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}
.line1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: 0%;
    opacity: 0.2;
    border: 0.5px solid #000000;
}
.line10{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2.8%;
    bottom: 97.2%;
    opacity: 0.2;
    border: 0.5px solid #000000;
}
/* main */
.doc{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    list-style: none;
}
.doc1{
    position: absolute;
    width: 309px;
    height: 54px;
    left: 165px;
    top: 68px;
    font-weight: 500;
    font-size: 40px;
    line-height: 24px;
}
.doc2{
    position: absolute;
    width: 777px;
    height: 56px;
    left: 165px;
    top: 146px;
}
.doc3{
    position: absolute;
    width: 777px;
    height: 84px;
    left: 165px;
    top: 218px;
}
.doc4{
    position: absolute;
    width: 691px;
    height: 56px;
    left: 165px;
    top: 318px;
}
.team{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #A78730;
    list-style: none;
}
.team1{
    position: absolute;
    width: 101px;
    height: 48px;
    left: 164px;
    top: 454px;
}
.team2{
    position: absolute;
    width: 161px;
    height: 48px;
    left: 164px;
    top: 1911px;
}
.information{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 26px;
    color: #000000;
    opacity: 0.7;
    list-style: none;
}
.inf1{
    position: absolute;
    width: 557px;
    height: 156px;
    left: 640px;
    top: 716px;
}
.inf2{
    position: absolute;
    width: 556px;
    height: 182px;
    left: 230px;
    top: 1149px;
}
.inf3{
    position: absolute;
    width: 615px;
    height: 182px;
    left: 640px;
    top: 1597px;
}
.inf4{
    position: absolute;
    width: 466px;
    height: 78px;
    left: 515px;
    top: 2155px;
}
.name{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;
    list-style: none;
}
.name1{
    position: absolute;
    width: 232px;
    height: 38px;
    left: 640px;
    top: 623px;
}
.name2{
    position: absolute;
    width: 152px;
    height: 38px;
    left: 230px;
    top: 1057px;    
}
.name3{
    position: absolute;
    width: 109px;
    height: 38px;
    left: 640px;
    top: 1504px;    
}
.name4{
    position: absolute;
    width: 220px;
    height: 32px;
    left: 515px;
    top: 2065px;    
}
.bgr1{
    position: absolute;
    width: 248.73px;
    height: 380.71px;
    left: 164px;
    top: 562px;
}
.bgr2{
    position: absolute;
    width: 248.27px;
    height: 380px;
    left: 1026.73px;
    top: 1009px;
}
.bgr3{
    position: absolute;
    width: 248.92px;
    height: 381px;
    left: 164px;
    top: 1456px;
}
.bgr4{
    position: absolute;
    width: 210px;
    height: 274px;
    left: 164px;
    top: 2013px;
}
.po1{
    position: absolute;
    width: 327.87px;
    height: auto;
    left: 214.91px;
    top: 590.21px;
}
.po2{
    position: absolute;
    width: 296.2px;
    height: auto;
    left: 930px;
    top: 1050.55px;
}
.po3{
    position: absolute;
    width: 327.34px;
    height: auto;
    left: 208.47px;
    top: 1491.48px;
}
.po4{
    position: absolute;
    width: 209.73px;
    height: auto;
    left: 210px;
    top: 2045.11px;
}
/* .footer_menu21{
    position: absolute;
    left: 69.1%;
    right: 24.51%;
    top: 21.94%;
    bottom: 69.28%;
    color: #FFFFFF;
}
.footer_menu11{
    position: absolute;
    left: 49.03%;
    right: 42.71%;
    top: 24.73%;
    bottom: 70.53%;
    color: #FFFFFF;
} */
/* footer */
.footer1{
    position: relative;
    width: 1440px;
    height: 258.36px;
    margin: auto;
    background: #292A2B;
}
.footer2{
    position: relative;
    width: 1440px;
    height: 60.64px;
    margin: auto;
    background: #0B0B0B;
}
.ymner1{
    position: absolute;
    left: 15%;
    right: 69.31%;
    top: 35%;
    bottom: 56.11%;
}
.footer_menu1{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
    list-style: none;
}
.footer_menu11{
    position: absolute;
    left: 49.03%;
    right: 42.71%;
    top: 24.73%;
    bottom: 70.53%;
    color: #FFFFFF;
}
.line{
    display: none;
    position: absolute;
}
.footer_menu12{
    position: absolute;
    left: 49.03%;
    right: 40%;
    top: 39.87%;
    bottom: 54.86%;
}
.footer_menu2{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    list-style: none;
}
.footer_menu21{
    position: absolute;
    left: 69.1%;
    right: 24.51%;
    top: 21.94%;
    bottom: 69.28%;
    color: #FFFFFF;
}
.footer_menu22{
    position: absolute;
    left: 69.1%;
    right: 20%;
    top: 37.62%;
    bottom: 53.61%;

}
.footer_menu23{
    position: absolute;
    left: 69.1%;
    right: 18.12%;
    top: 53.29%;
    bottom: 37.93%;
}
.anh{
    position: absolute;
    left: 15%;
    right: 79.95%;
    top: 40.09%;
    bottom: 7.52%;
}
.eng{
    position: absolute;
    left: 18.25%;
    right: 75.42%;
    top: 29.58%;
    bottom: 5.64%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.6;
    list-style: none;
}
.link{
    position: absolute;
    left: 52.18%;
    right: 2.12%;
    top: 25.95%;
    bottom: 18.27%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 37px;
    color: #FFFFFF;
    opacity: 0.5;
    list-style: none;
}
