.app{
    width: 1440px;
    height: 2786px;
    margin: 0 auto;
    background: #EDF8EF;
}
@font-face {
    font-family: 'Centra No1';
    src: url(../centrano1-and-no2-font/CentraNo1-Book.ttf);
}
#main{
    position: absolute;
    width: 1440px;
    height: 2319px;
    top: 80px;
    margin: auto;
}
#footer{
    position: absolute;
    top: 2399px;
    width: 1440px;
    height: 319px;
    margin: auto;

}
#header{
    position: absolute;
    width: 1440px;
    height: 80px;
    margin: auto;
}
/* head */
.top{
    position: absolute;
    width: 1127px;
    height: 70.25px;
    left: 156px;
    top: 0px;
}
.material-symbols-outlined{
    position: absolute;
    top: -9999px;
}
.ymner{
    position: absolute;
    left: 0%;
    right: 87%;
    top: 2.85%;
    bottom: 3.21%;
}
.top li{
    position: absolute;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
}
.menu1{
    left: 63.89%;
    right: 31.23%;
    top: 27.04%;
    bottom: 33.1%;
    color: #000000; 
}
.menu2{
    left: 74%;
    right: 16.42%;
    top: 27.04%;
    bottom: 33.1%;
    color: #000000;
}
.menu3{
    left: 88.01%;
    right: 7.82%;
    top: 16.04%;
    bottom: 44.1%;
    color: #A78730;
    opacity: 0.9
}

.vector{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;  
}
.vector1{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;
}
.vector2{
    position: absolute;
    left: 42%;
    right: 6.05%;
    top: 74.59%;
    bottom: 0%;
}

.vector3{
    position: absolute;
    left: 205%;
    right: 1%;
    top: 66%;
    bottom: 25%;

}
.vector4{
    position: absolute;
    left: 46.5%;
    right: 23.63%;
    top: 48%;
    bottom: 47.27%;
}
#Rectangle{    
    width: 134px;
    height: 38px;
    box-sizing: border-box;
    left: 88.11%;
    right: 0%;
    top: 19.93%;
    bottom: 25.98%;
    padding: 5.5px 44px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}
.line1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: 0%;
    opacity: 0.2;
    border: 0.5px solid #000000;
}
/* main */
.doc{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    list-style: none;
}
.doc1{
    position: absolute;
    width: 309px;
    height: 54px;
    left: 165px;
    top: 68px;
    font-weight: 500;
    font-size: 40px;
    line-height: 24px;
}
.doc2{
    position: absolute;
    width: 777px;
    height: 56px;
    left: 165px;
    top: 146px;
}
.doc3{
    position: absolute;
    width: 777px;
    height: 84px;
    left: 165px;
    top: 218px;
}
.doc4{
    position: absolute;
    width: 691px;
    height: 56px;
    left: 165px;
    top: 318px;
}
.team{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #A78730;
    list-style: none;
}
.team1{
    position: absolute;
    width: 101px;
    height: 48px;
    left: 164px;
    top: 454px;
}
.team2{
    position: absolute;
    width: 161px;
    height: 48px;
    left: 164px;
    top: 1911px;
}
.information{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.7;
    list-style: none;
}
.inf1{
    position: absolute;
    width: 557px;
    height: 156px;
    left: 640px;
    top: 716px;
}
.inf2{
    position: absolute;
    width: 556px;
    height: 182px;
    left: 230px;
    top: 1149px;
}
.inf3{
    position: absolute;
    width: 615px;
    height: 182px;
    left: 640px;
    top: 1597px;
}
.inf4{
    position: absolute;
    width: 466px;
    height: 78px;
    left: 515px;
    top: 2155px;
}
.name{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    opacity: 0.8;
    list-style: none;
}
.name1{
    position: absolute;
    width: 232px;
    height: 38px;
    left: 640px;
    top: 623px;
}
.name2{
    position: absolute;
    width: 152px;
    height: 38px;
    left: 230px;
    top: 1057px;    
}
.name3{
    position: absolute;
    width: 109px;
    height: 38px;
    left: 640px;
    top: 1504px;    
}
.name4{
    position: absolute;
    width: 220px;
    height: 32px;
    left: 515px;
    top: 2065px;    
}
.bgr1{
    position: absolute;
    width: 248.73px;
    height: 380.71px;
    left: 164px;
    top: 562px;
}
.bgr2{
    position: absolute;
    width: 248.27px;
    height: 380px;
    left: 1026.73px;
    top: 1009px;
}
.bgr3{
    position: absolute;
    width: 248.92px;
    height: 381px;
    left: 164px;
    top: 1456px;
}
.bgr4{
    position: absolute;
    width: 210px;
    height: 274px;
    left: 164px;
    top: 2013px;
}
.po1{
    position: absolute;
    width: 327.87px;
    height: auto;
    left: 214.91px;
    top: 590.21px;
}
.po2{
    position: absolute;
    width: 296.2px;
    height: auto;
    left: 930px;
    top: 1050.55px;
}
.po3{
    position: absolute;
    width: 327.34px;
    height: auto;
    left: 208.47px;
    top: 1491.48px;
}
.po4{
    position: absolute;
    width: 209.73px;
    height: auto;
    left: 210px;
    top: 2045.11px;
}
/* footer */
.footer1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 19.01%;
    background: #292A2B;
}
.footer2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 80.99%;
    bottom: 0%;
    background: #0B0B0B;
}
.ymner1{
    position: absolute;
    left: 15%;
    right: 69.31%;
    top: 35%;
    bottom: 56.11%;
}
.footer_menu1{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
    list-style: none;
}
.footer_menu11{
    position: absolute;
    left: 49.03%;
    right: 42.71%;
    top: 24.73%;
    bottom: 70.53%;
}
.line{
    display: none;
    position: absolute;
}
.footer_menu12{
    position: absolute;
    left: 49.03%;
    right: 40%;
    top: 39.87%;
    bottom: 54.86%;
}
.footer_menu2{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    list-style: none;
}
.footer_menu21{
    position: absolute;
    left: 69.1%;
    right: 24.51%;
    top: 21.94%;
    bottom: 69.28%;
}
.footer_menu22{
    position: absolute;
    left: 69.1%;
    right: 20%;
    top: 37.62%;
    bottom: 53.61%;
}
.footer_menu23{
    position: absolute;
    left: 69.1%;
    right: 18.12%;
    top: 53.29%;
    bottom: 37.93%;
}
.anh{
    position: absolute;
    left: 15%;
    right: 79.95%;
    top: 40.09%;
    bottom: 7.52%;
}
.eng{
    position: absolute;
    left: 18.25%;
    right: 75.42%;
    top: 29.58%;
    bottom: 5.64%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.6;
    list-style: none;
}
.link{
    position: absolute;
    left: 52.18%;
    right: 2.12%;
    top: 25.95%;
    bottom: 18.27%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    color: #FFFFFF;
    opacity: 0.5;
    list-style: none;
}
@media only screen and (max-width: 600px){
.app{
    width: 375px;
    height: 4035px;
}
#main{
    width: 375px;
    height: 3394.29px;
    top: 56px;
}
#footer{
    top: 3447.29px;
    width: 375px;
    height: 588px;

}
#header{
    width: 375px;
    height: 56px;
}
/* head */
.top{
    width: 375px;
    height: auto;
    left:2px;
}
.top li{
    display: none;
}
.ymner{
    width: 98px;
    height: 44px;
    left: 2px;
    top: -10px;
}
.material-symbols-outlined{
    width: 32px;
    height: 21px;
    top: 3px;
    right: 57px;
    color: #000000;
}
.line1{
    width: 372px;
    height: 0px;
    left: 0px;
    top: 100%;
    border: 0.5px solid #000000;
    opacity: 0.2;
}
/* main */
.doc{
    font-size: 13px;
}
.doc1{
    width: 170px;
    height: 38px;
    left: 13px;
    top: 24px;
    font-size: 22px;
    line-height: 38px;
}
.doc2{
    width: 347px;
    height: 96px;
    left: 13px;
    top: 78px;
}
.doc3{
    width: 347px;
    height: 120px;
    left: 13px;
    top: 184px;
}
.doc4{
    width: 347px;
    height: 48px;
    left: 13px;
    top: 314px;
}
.team{
    font-size: 22px;
    line-height: 38px;
}
.team1{
    width: 56px;
    height: 38px;
    left: 13px;
    top: 410px;
}
.team2{
    width: 89px;
    height: 38px;
    left: 13px;
    top: 2803.77px;
}
.information{
    font-size: 13px;
    line-height: 24px;
}
.inf1{
    width: 347px;
    height: 192px;
    left: 13px;
    top: 963.2px;
}
.inf2{
    width: 347px;
    height: 216px;
    left: 13px;
    top: 1719.77px;
}
.inf3{
    width: 347px;
    height: 264px;
    left: 13px;
    top: 2483.77px;
}
.inf4{
    width: 347px;
    height: 66px;
    left: 13px;
    top: 3235.29px;
}
.name{
    font-size: 20px;
    line-height: 28px;
}
.name1{
    width: 193px;
    height: 28px;
    left: 13px;
    top: 891.2px;
}
.name2{
    width: 127px;
    height: 28px;
    left: 13px;
    top: 1647.77px;
}
.name3{
    width: 91px;
    height: 28px;
    left: 13px;
    top: 2411.97px;
}
.name4{
    width: 183px;
    height: 24px;
    left: 13px;
    top: 3167.32px;
}
.in{
    width: 13.75px;
    height: 13.75px;
}
.bgr1{
    width: 240.72px;
    height: 369.2px;
    left: 13px;
    top: 482px;
}
.bgr2{
    width: 241.53px;
    height: 361.57px;
    left: 121.47px;
    top: 1246.2px;
}
.bgr3{
    width: 240.72px;
    height: 369.2px;
    left: 13px;
    top: 2002.77px;
}
.bgr4{
    width: 187.78px;
    height: 245.56px;
    left: 13px;
    top: 2881.77px;
}
.po1{
    width: 296.3px;
    left: 52.39px;
    top: 508.79px;
}
.po2{
    width: 308.08px;
    left: 16px;
    top: 1282.77px;
}
.po3{
    width: 296.3px;
    left: 57.4px;
    top: 2045.79px;
}
.po4{
    width: 189.33px;
    left: 48px;
    top: 2912px;
}
/* footer */
.footer2{
    left: 0%;
    right: 0%;
    top: 73.38%;
    bottom: 0%;
}
.ymner1{
    width: 146px;
    height: 66px;
    left: 1.07%;
    right: 60%;
    top: 3.25%;
    bottom: 84.52%;
}
.Y{
    position: absolute;
    Width :23.56px;
    Height:22px;
    Top:29.61px;
    Left:17.23px;
}
.M{
    position: absolute;
    Width :23.65px;
    Height:21.77px;
    Top:29.61px;
    Left:42.89px;
}
.N{
    position: absolute;
    Width :18.42px;
    Height:21.77px;
    Top:29.61px;
    Left:69.57px;
}
.E{
    position: absolute;
    Width :15.08px;
    Height:21.77px;
    Top:29.61px;
    Left:91.03px;
}
.R{
    position: absolute;
    Width :18.82px;
    Height:22px;
    Top:29.61px;
    Left:108.75px;
}
.anh{
    left: 10%;
    right: 81.95%;
    top: 22.09%;
    bottom: 7.52%;  
}
.eng{
    left: 22.25%;
    right: 75.42%;
    top: 18.58%;
}
.link{
    left: 9.6%;
    right: 14.93%;
    top: 49.1%;
    bottom: 3.74%;
    font-size: 11px;
    line-height: 24px;
}
.footer_menu11{
    left: 5.6%;
    right: 61.67%;
    top: 21%;
    bottom: 74.32%;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu12{
    left: 5.6%;
    right: 65.07%;
    top: 27%;
    bottom: 66.84%;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu21{
    left: 5.6%;
    right: 69.87%;
    top: 40.31%;
    bottom: 54.93%;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu22{
    left: 5.6%;
    right: 52.53%;
    top: 45.79%;
    bottom: 47.45%;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu23{
    left: 5.6%;
    right: 45.33%;
    top: 52.27%;
    bottom: 39.97%;
    font-size: 12px;
    line-height: 28px;
}
.line{
    display: block;
    width:86%;
    top: 35%;
    size : 1px; 
    left: 5.6%;
}
}