.lewlewlew{
    position: relative;
    width: auto;
    background: #EDF8EF;
}
.app{
    position: relative;
    width: 1440px;
    height: 2567px;
    margin: 0 auto;
    background: #EDF8EF;
}
@font-face {
    font-family: 'Centra No1';
    src: url(centrano1-and-no2-font/CentraNo1-Book.ttf);
}
#main{
    position: absolute;
    width: 1440px;
    height: 2567px;
    top: 81.2px;
   background-color: #EDF8EF;
}
#footer_1{
    position: relative;
    top: 87px;
    width: 100%;
    height: 258.36px;
    margin: auto;
    background-color: #292A2B;
}
#footer_2{
    position: relative;
    width: 100%;
    top: 87px;
    height: 60.64px;
    margin: auto;
    background: #0B0B0B;
}
#header{
    position: relative;
    width: 100%;
    height: 80px;
    margin: auto;
}
/* head */
.top{
    position: absolute;
    width: 1127px;
    height: 70.25px;
    left: 130px;
    top: 0px;
}
.top .material-symbols-outlined{
    position: absolute;
    top: -9999px;
}
.ymner{
    position: absolute;
    left: 0%;
    right: 87%;
    top: 2.85%;
    bottom: 3.21%;
}
.top li{
    position: absolute;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
}
.menu1{
    left: 63.89%;
    right: 31.23%;
    top: 27.04%;
    bottom: 33.1%;
    color: #000000; 
}
.menu2{
    left: 74%;
    right: 16.42%;
    top: 27.04%;
    bottom: 33.1%;
    color: #000000;
}
.menu3{
    left: 88.01%;
    right: 7.82%;
    top: 16.04%;
    bottom: 44.1%;
    color: #A78730;
    opacity: 0.9
}

.vector{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;  
}
.vector1{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;
}
.vector2{
    position: absolute;
    left: 42%;
    right: 6.05%;
    top: 74.59%;
    bottom: 0%;
}

.vector3{
    position: absolute;
    left: 205%;
    right: 1%;
    top: 66%;
    bottom: 25%;

}
.vector4{
    position: absolute;
    left: 46.5%;
    right: 23.63%;
    top: 48%;
    bottom: 47.27%;
}
#Rectangle{    
    width: 134px;
    height: 38px;
    box-sizing: border-box;
    left: 88.11%;
    right: 0%;
    top: 19.93%;
    bottom: 25.98%;
    padding: 5.5px 44px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}
.line1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    bottom: -32%;
    opacity: 0.1;
    border: 0.09px solid #000000;
}
.line10{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 2.72%;
    bottom: 8%;
    opacity: 0.1;
    border: 0.09px solid #000000;
}
/* main */
.h1{
    position: absolute;
    width: 242px;
    height: 39px;
    left: 112px;
    top: 56px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
    opacity: 0.8;  
    list-style: none;
}
.lew1{
    position: absolute;
    width: 287px;
    height: 259px;
    left: 109px;
    top: 151px;
    background-color: #FFFFFF;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
}
.line2{
    position: absolute;
    width :287px ;
    top :-11px; 
    height: 4px;
    border-radius: 22px;
    background-color: #4350AF;
}
.lew2{
    position: absolute;
    width: 287px;
    height: 259px;
    left: 417px;
    top: 151px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.lew3{
    position: absolute;
    width: 287px;
    height: 259px;
    left: 731px;
    top: 151px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.lew4{
    position: absolute;
    width: 287px;
    height: 259px;
    left: 1043px;
    top: 151px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.backgr{
    position: absolute;
    width: 287px;
    height: 259px;
    left: 109px;
    top: 151px;
    background: #FFFFFF;
}
.doc1{
    position: absolute;
    width: 68px;
    height: 28px;
    left: 23px;
    top: 29px;
    list-style: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.doc2{
    position: absolute;
    width: 127px;
    height: 28px;
    left: 23px;
    top: 29px;
    list-style: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.doc3{
    position: absolute;
    width: 93px;
    height: 28px;
    left: 23px;
    top: 29px;
    list-style: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.doc4{
    position: absolute;
    width: 70px;
    height: 28px;
    left: 23px;
    top: 29px;
    list-style: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
}
.doc_main{
    position: absolute;
    width: 234px;
    height: 48px;
    left: 23px;
    top: 99px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    list-style: none;
}
.lew1 .doc_main{
    opacity: 0.7;
}
.lew1 .list{
    opacity: 0.7;
}
.o1{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 23px;
    top: 61px;
}
.o2{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 23px;
    top: 61px;
}
.o3{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 23px;
    top: 61px;
}
.o4{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 23px;
    top: 61px;
}
.mu{
    position: absolute;
    top: 40.06px;
    left: 258px;
    width: 9.87px;
    height: 6px;
}
.blink1{
    color:#A78730;
}
.nine1{
    display: none;
}
.nine2{
    display: none;
}
.num1{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 71px;
    top: 66px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #4350AF;
    list-style: none;
    opacity: 0.8;
}
.num2{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 71px;
    top: 66px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #619D87;
    list-style: none;
    opacity: 0.8;
}
.num3{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 71px;
    top: 66px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #EB5181;
    list-style: none;
    opacity: 0.8;
}
.num4{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 71px;
    top: 66px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #EF8A40;
    list-style: none;
    opacity: 0.8;
}
.list{
    position: absolute;
    width: 191px;
    height: 72px;
    left: 10px;
    top: 156px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 24px;
    opacity: 0.7;
}
.search{
    box-sizing: border-box;
    position: absolute;
    width: 540px;
    height: 44px;
    left: 109px;
    top: 480px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 22px;
}
.search1{
    position: absolute;
    width: 192px;
    height: 25px;
    left: 64px;
    top: 9px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    border: 0px;
    outline: none;
}
.search2{
    position: absolute;
    left: 4.01%;
    right: 5.99%;
    top: 27%;
    bottom: 0%;
}
.Rectangle3{
    position: absolute;
    width: 106px;
    height: 44px;
    left: 1224px;
    top: 480px;
    background: #A78730;
    border-radius: 22px;
}
.Rectangle3 .material-symbols-outlined{
    position: absolute;
    width: 13px;
    height: 1.53px;
    left: 14.73px;
    top: 9px;
    color: #FFFFFF;
}
.filter{
    position: absolute;
    width: 37px;
    height: 21px;
    left: 45px;
    top: 12px;
    list-style: none;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    color: #FFFFFF;
}
.lewlew{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    color: #000000;
}

.re{
    position: absolute;
    width: 100px;
    height: 21px;
    left: 109px;
    top: 560px;
    font-weight: 500;
}
.so{
    position: absolute;
    width: 190px;
    height: 21px;
    left: 894px;
    top: 560px;
}
.so .font{
    font-weight: 600;
}
.sh{
    position: absolute;
    width: 250px;
    height: 21px;
    left: 1132px;
    top: 560px;
}
.sh .font{
    font-weight: 600;
}
.font{
    color: #A78730;
}
.gap{
    position: absolute;
    top : 600px;
    width: 1250px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 85px;
  }
.gap_res{
    display: none;
}
.gird {
    position: relative;
    width: 388px;
    height: 191px;
    margin-top: 32px;
    background-color:#FFFFFF;
    margin-left: 28px;
  }
.gap :hover{
    box-shadow: 1px 1px 15px 5px #dddacc;
}
.gird1{
    position: absolute;
    width: 336px;
    height: 52px;
    left: 20px;
    top: 5px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    opacity: 0.9;
  }
.gird2{
    position: absolute;
    width: 336px;
    height: 48px;
    left: 20px;
    top: 70px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    opacity: 0.8;
  }
.gird3{
    position: absolute;
    left: 40px;
    top: 138px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.9;
  }
.elip1{
    position: absolute;
    left: 5.15%;
    right: 91.75%;
    top: 82.72%;
    bottom: 10.99%;
    border-radius: 50%;
    background: #6868ED;
}
.elip2{
    position: absolute;
    left: 90.72%;
    right: 4.12%;
    top: 81.15%;
    bottom: 8.38%;
    background: #619D87;
    border-radius: 6px;
}
.elip3{
    position: absolute;
    left: 92.13%;
    right: 5.53%;
    top: 84.01%;
    bottom: 11.23%;
    border-radius: 50%;
    background: #FFFFFF;
}
.box{
    box-sizing: border-box;
    position: relative;
    width: 160px;
    height: 44px;
    left: 640px;
    top: 2440px;
    border: 1px solid #A78730;
    border-radius: 22px;
}
.text{
    position: absolute;
    width: 77px;
    height: 21px;
    left: 37px;
    top: -6px;  
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #A78730;
}
/* footer */
.footer1{
    position: relative;
    width: 1440px;
    height: 258.36px;
    margin: auto;
    background: #292A2B;
}
.footer2{
    position: relative;
    width: 1440px;
    height: 60.64px;
    margin: auto;
    background: #0B0B0B;
}
.ymner1{
    position: absolute;
    left: 15%;
    right: 69.31%;
    top: 35.5%;
    bottom: 56.11%;
}
.footer_menu1{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #dddacc;
    opacity: 0.7;
    list-style: none;
}
.footer_menu1 :hover{
    color: #FFFFFF;
}
.footer_menu11{
    position: absolute;
    left: 49.03%;
    right: 42.71%;
    top: 23.2%;
    bottom: 70.53%;     
    color: #dddacc;
}
.line{
    display: none;
    position: absolute;
}
.footer_menu12{
    position: absolute;
    left: 49.03%;
    right: 42.33%;
    top: 38.87%;
    bottom: 54.86%;
    color: #dddacc;
}
.footer_menu2{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #dddacc;
    opacity: 0.7;
    list-style: none;
}
.footer_menu2 :hover{
    color: #ffffff;
}
.footer_menu21{
    position: absolute;
    left: 69.1%;
    right: 24.51%;
    top: 21.94%;
    bottom: 69.28%;
    color: #dddacc;
}
.footer_menu22{
    position: absolute;
    left: 69.1%;
    right: 20%;
    top: 37.62%;
    bottom: 53.61%;
    color: #dddacc;
}
.footer_menu23{
    position: absolute;
    left: 69.1%;
    right: 18.12%;
    top: 53.29%;
    bottom: 37.93%;
    color: #dddacc;
}
.anh{
    position: absolute;
    left: 15%;
    right: 79.95%;
    top: 40.09%;
    bottom: 7.52%;
}
.eng{
    position: absolute;
    left: 18.25%;
    right: 75.42%;
    top: 29.58%;
    bottom: 5.64%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #dddacc;
    opacity: 0.6;
    list-style: none;
}
.eng:hover{
    color: #ffffff;
}
.link{
    position: absolute;
    top: 12.64px;
    left: 738px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #dddacc;
    opacity: 0.5;
    list-style: none;
}
.link:hover{
    color: #FFFFFF;
}