.app{
    width: 1440px;
    height: 1818px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Centra No1';
    src: url(./centrano1-and-no2-font/CentraNo1-Book.ttf);
}

#main{
    position: absolute;
    width: 1440px;
    height: 775px;
    margin: auto;
}
#footer{
    position: absolute;
    top: 1499px;
    width: 1440px;
    height: 319px;
    margin: auto;

}
#header{
    position: absolute;
    width: 1440px;
    height: 725px;
    margin: auto;
}
#header video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.material-symbols-outlined{
    position: absolute;
    top: -9999px;
}
.top{
    position: absolute;
    width: 1127px;
    height: 70.25px;
    left: 156px;
    top: 0px;
}
.ymner{
    position: absolute;
    left: 0%;
    right: 87%;
    top: 2.85%;
    bottom: 3.21%;
}
.top li{
    position: absolute;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    list-style: none;
    text-decoration: none;
}
.menu1{
    left: 63.89%;
    right: 31.23%;
    top: 27.04%;
    bottom: 33.1%;
    color: #ffffff; 
}
.menu2{
    left: 74%;
    right: 16.42%;
    top: 27.04%;
    bottom: 33.1%;
    color: #ffffff;
}
.menu3{
    left: 88.01%;
    right: 7.82%;
    top: 16.04%;
    bottom: 44.1%;
    color: #A78730;
    opacity: 0.9
}

.vector{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;  
}
.vector1{
    position: absolute;
    left: 100%;
    right: 0%;
    top: 38%;
    bottom: 25%;
}
.vector2{
    position: absolute;
    left: 42%;
    right: 6.05%;
    top: 74.59%;
    bottom: 0%;
}

.vector3{
    position: absolute;
    left: 205%;
    right: 1%;
    top: 66%;
    bottom: 25%;

}
.vector4{
    position: absolute;
    left: 46.5%;
    right: 23.63%;
    top: 48%;
    bottom: 47.27%;
}
#Rectangle{    
    width: 134px;
    height: 38px;
    box-sizing: border-box;
    left: 88.11%;
    right: 0%;
    top: 19.93%;
    bottom: 25.98%;
    padding: 5.5px 44px;
    background: #FFFFFF;
    opacity: 0.9;
    border: 1px solid #FFFFFF;
    border-radius: 28px;
}

.body{
    list-style: none;
    color: #FFFFFF;
    font-family: 'Centra No1';
    font-style: normal;
}
.body1{
    position: absolute;
    width: 540px;
    height: 91px;
    left: 165px;
    top: 249px;
    font-weight: 500;
    font-size: 70px;
    line-height: 91px;
}
.body2{
    position: absolute;
    width: 204px;
    height: 30px;
    left: 165px;
    top: 356px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
 
}
.body3{
    position: absolute;
    width: 210px;
    height: 30px;
    left: 378px;
    top: 356px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
/* main */
#box1{
    position: absolute;
    width: 540px;
    height: 462px;
    left: 165px;
    top: 860px;
    background: #F2F7FF;
    border-radius: 14px;
}
#box2{
    position: absolute;
    width: 540px;
    height: 462px;
    left: 735px;
    top: 860px;
    background: #FFFFE0;
    border-radius: 14px;
}
.doc1{
    list-style: none;
}
.doc11{
    position: absolute;
    width: 177px;
    height: 32px;
    left: 30px;
    top: 40px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    opacity: 0.8;
}
.doc12{
    position: absolute;
    width: 447px;
    height: 56px;
    left: 31px;
    top: 98px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.doc13{
    position: absolute;
    width: 447px;
    height: 56px;
    left: 31px;
    top: 170px;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
}
.doc2{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 28px;
    color: #000000;
    opacity: 0.7;
    list-style: none;
}
.doc21{
    position: absolute;
    width: 49px;
    height: 28px;
    left: 30px;
    top: 258px;
}
.doc22{
    position: absolute;
    width: 92px;
    height: 28px;
    left: 146px;
    top: 258px;
}
.doc23{
    position: absolute;
    width: 68px;
    height: 28px;
    left: 294px;
    top: 258px;
}
.doc24{
    position: absolute;
    width: 51px;
    height: 28px;
    left: 418px;
    top: 258px;
}
.doc25{
    position: absolute;
    width: 28px;
    height: 20px;
    left: 256px;
    top: 393px;
    color: #FFFFFF;
}
.Ellipse1{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 30px;
    top: 294px;
}
.Ellipse2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 146px;
    top: 294px;
}
.Ellipse3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 294px;
    top: 294px;
}
.Ellipse4{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 418px;
    top: 294px;
}
.num1{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 64px;
    top: 292px;
    color: #4350AF;
}
.num2{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 180px;
    top: 292px;  
    color: #619D87;  
}
.num3{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 328px;
    top: 292px;
    color: #EB5181;
}
.num4{
    position: absolute;
    width: 26px;
    height: 28px;
    left: 452px;
    top: 292px;
    color: #EF8A40;
}
.doc3{
    font-family: 'Centra No1';
    font-style: normal;
    line-height: 28px;
    list-style: none;
    color: #000000;
    opacity: 0.8;
}
.doc31{
    position: absolute;
    width: 164px;
    height: 32px;
    left: 30px;
    top: 40px;
    font-weight: 600;
    font-size: 22px;
}
.doc32{
    position: absolute;
    width: 413px;
    height: 84px;
    left: 30px;
    top: 98px;
    font-weight: 400;
    font-size: 1rem;
}
.doc33{
    position: absolute;
    width: 413px;
    height: 56px;
    left: 30px;
    top: 198px;
    font-weight: 400;
    font-size: 1rem;
}
.doc34{
    position: absolute;
    width: 465px;
    height: 56px;
    left: 30px;
    top: 278px;
    font-weight: 600;
    font-size: 1rem;
}
.number{
    color: #70A693;
}
.doc35{
    position: absolute;
    width: 39px;
    height: 10px;
    left: 252px;
    top: 393px;
    color: #FFFFFF;
}
.Rectangle1{
    position: absolute;
    left: 39%;
    right: 38%;
    top: 84%;
    bottom: 8%;
    background: #A28840;
    border-radius: 22px;
    }
.Rectangle2{
    position: absolute;
    display: none;

}
.Rectangle3{
    position: absolute;
    display: none;
}
/* footer */
.footer1{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 19.01%;
    background: #292A2B;
}
.footer2{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 80.99%;
    bottom: 0%;
    background: #0B0B0B;
}
.ymner1{
    position: absolute;
    left: 15%;
    right: 69.31%;
    top: 35%;
    bottom: 56.11%;
}
.footer_menu1{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.7;
    list-style: none;
}
.footer_menu11{
    position: absolute;
    left: 49.03%;
    right: 42.71%;
    top: 24.73%;
    bottom: 70.53%;
    color: #FFFFFF;
}
.line{
    display: none;
    position: absolute;
}
.footer_menu12{
    position: absolute;
    left: 49.03%;
    right: 40%;
    top: 39.87%;
    bottom: 54.86%;
}
.footer_menu2{
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.7;
    list-style: none;
}
.footer_menu21{
    position: absolute;
    left: 69.1%;
    right: 24.51%;
    top: 21.94%;
    bottom: 69.28%;
    color: #FFFFFF;
}
.footer_menu22{
    position: absolute;
    left: 69.1%;
    right: 20%;
    top: 37.62%;
    bottom: 53.61%;
}
.footer_menu23{
    position: absolute;
    left: 69.1%;
    right: 18.12%;
    top: 53.29%;
    bottom: 37.93%;
}
.anh{
    position: absolute;
    left: 15%;
    right: 79.95%;
    top: 40.09%;
    bottom: 7.52%;
}
.eng{
    position: absolute;
    left: 18.25%;
    right: 75.42%;
    top: 29.58%;
    bottom: 5.64%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.6;
    list-style: none;
}
.link{
    position: absolute;
    left: 52.18%;
    right: 2.12%;
    top: 25.95%;
    bottom: 18.27%;
    font-family: 'Centra No1';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 37px;
    color: #FFFFFF;
    opacity: 0.5;
    list-style: none;
}
@media only screen and (max-width: 600px){
.app{
    width: 375px;
    height: 2073px;
}
#main{
    width: 375px;
    height: 1157px;
    top: 328px;
}
#footer{
    top: 1485px;
    width: 375px;
    height: 588px;

}
#header{
    width: 375px;
    height: 328px;
}
/* head */
#header video{
    width: 100%;
    height: 100%;
}
.menu3{
    display: none;
}
.ymner{
    width: 107px;
    height: 48px;
    left: -155px;
    top: -14px;
    bottom: -122.73%;
}
.material-symbols-outlined{
    width: 20px;
    height: 14px;
    top: 12px;
    right: 12px;
    color: #FFFFFF;
}
.body1{
    width: 232px;
    height: 39px;
    left: 3.73%;
    right: 34.4%;
    top: 30.5%;
    bottom: -318.18%;
    font-size: 33px;
    line-height: 39px;
}
.body2{
    width: 143px;
    height: 30px;
    left: 3.73%;
    right: 58.13%;
    top: 44%;
    bottom: 89.7%;
    font-size: 14px;
    line-height: 30px;
}
.body3{
    width: 147px;
    height: 30px;
    left: 41%;
    right: 17.87%;
    top: 44%;
    bottom: 89.7%;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
}
/* main */
#box1{
    width: 350px;
    height: 584px;
    left: 12px;
    top: 56px;
    border-radius: 0px;
}
#box2{
    width: 350px;
    height: 392px;
    left: 12px;
    top: 668px;
    border-radius: 0px;
}
.doc11{
    width: 145px;
    height: 28px;
    left: 24px;
    top: 32px;
    font-size: 18px;
    line-height: 28px;
}
.doc12{
    width: 300px;
    height: 78px;
    left: 24px;
    top: 70px;
    font-size: 1rem;
    line-height: 26px;
}
.doc13{
    display: none;
}
.doc21{
    width: 49px;
    height: 28px;
    left: 24px;
    top: 166px;
    font-size: 1rem;
    line-height: 28px;
}
.doc22{
    width: 92px;
    height: 28px;
    left: 24px;
    top: 244px;
    font-size: 1rem;
    line-height: 28px;
}
.doc23{
    width: 68px;
    height: 28px;
    left: 24px;
    top: 322px;
    font-size: 1rem;
    line-height: 28px;
}
.doc24{
    width: 45px;
    height: 28px;
    left: 24px;
    top: 400px;
    font-size: 1rem;
    line-height: 28px;
}
.doc25{
    width: 40px;
    height: 20px;
    left: 45.67%;
    right: 36.67%;
    top: 86.5%;
    bottom: 30%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 17px;
}
.doc31{
    width: 134px;
    height: 28px;
    left: 24px;
    top: 32px;
    font-size: 18px;
    line-height: 28px;
}
.doc32{
    width: 258px;
    height: 104px;
    left: 24px;
    top: 70px;
    font-size: 0.9375rem;
    line-height: 26px;
}
.doc33{
    display: none;
}
.doc34{
    width: 304px;
    height: 84px;
    left: 24px;
    top: 194px;
    font-size: 1rem;
    line-height: 28px;
}
.doc35{
    left: 45.67%;
    right: 36.67%;
    top: 85.5%;
    bottom: 30%;
    font-size: 1rem;
    line-height: 17px;
}
.Rectangle1{
display: none;
}
.Rectangle2{
    display: block;
    left: 35%;
    right: 34%;
    top: 85%;
    bottom: 8.57%;
    background: #A28840;
    border-radius: 22px;
}
.Rectangle3{
    display: block;
    left: 37%;
    right: 34%;
    top: 83.5%;
    bottom: 8%;
    background: #A28840;
    border-radius: 22px;

}
.Ellipse1{
    width: 24px;
    height: 24px;
    left: 24px;
    top: 202px;
}
.Ellipse2{
    width: 24px;
    height: 24px;
    left: 24px;
    top: 280px;
}
.Ellipse3{
    width: 24px;
    height: 24px;
    left: 24px;
    top: 358px;  
}
.Ellipse4{
    width: 24px;
    height: 24px;
    left: 24px;
    top: 436px;   
}
.num1{
    width: 26px;
    height: 28px;
    left: 58px;
    top: 200px;
    font-size: 1rem;
    line-height: 28px;
}
.num2{
    width: 26px;
    height: 28px;
    left: 58px;
    top: 278px;
    font-size: 1rem;
    line-height: 28px;
}
.num3{
    width: 26px;
    height: 28px;
    left: 58px;
    top: 356px;
    font-size: 1rem;
    line-height: 28px;   
}
.num4{
    width: 26px;
    height: 28px;
    left: 58px;
    top: 434px;
    font-size: 1rem;
    line-height: 28px;   
}
/* footer */
.footer2{
    left: 0%;
    right: 0%;
    top: 73.38%;
    bottom: 0%;
}
.ymner1{
    width: 146px;
    height: 66px;
    left: 1.07%;
    right: 60%;
    top: 3.25%;
    bottom: 84.52%;
}
.Y{
    position: absolute;
    Width :23.56px;
    Height:22px;
    Top:29.61px;
    Left:17.23px;
}
.M{
    position: absolute;
    Width :23.65px;
    Height:21.77px;
    Top:29.61px;
    Left:42.89px;
}
.N{
    position: absolute;
    Width :18.42px;
    Height:21.77px;
    Top:29.61px;
    Left:69.57px;
}
.E{
    position: absolute;
    Width :15.08px;
    Height:21.77px;
    Top:29.61px;
    Left:91.03px;
}
.R{
    position: absolute;
    Width :18.82px;
    Height:22px;
    Top:29.61px;
    Left:108.75px;
}
.anh{
    left: 10%;
    right: 81.95%;
    top: 22.09%;
    bottom: 7.52%;  
}
.eng{
    left: 22.25%;
    right: 75.42%;
    top: 18.58%;
}
.link{
    left: 9.6%;
    right: 14.93%;
    top: 49.1%;
    bottom: 3.74%;
    font-size: 11px;
    line-height: 24px;
}
.footer_menu11{
    left: 5.6%;
    right: 61.67%;
    top: 21%;
    bottom: 74.32%;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu12{
    left: 5.6%;
    right: 65.07%;
    top: 27%;
    bottom: 66.84%;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu21{
    left: 5.6%;
    right: 69.87%;
    top: 40.31%;
    bottom: 54.93%;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu22{
    left: 5.6%;
    right: 52.53%;
    top: 45.79%;
    bottom: 47.45%;
    font-size: 12px;
    line-height: 28px;
}
.footer_menu23{
    left: 5.6%;
    right: 45.33%;
    top: 52.27%;
    bottom: 39.97%;
    font-size: 12px;
    line-height: 28px;
}
.line{
    display: block;
    width:86%;
    top: 35%;
    size : 1px; 
    left: 5.6%;
}
}

